<footer>
  <p>&copy; <a href="{{ site.author.url }}" target="_blank" rel="noopener noreferrer">{{ site.author.name }}</a></p>
  <p>
    Licensed under
    <a href="{{ site.licenseUrl }}" target="_blank" rel="noopener noreferrer">{{ site.license }}</a>
  </p>
  <p>
    <a href="{{ site.repository }}" target="_blank" rel="noopener noreferrer">GitHub</a>
  </p>
</footer>
